* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #E2ECF7;
  z-index: 1;
}

.topnav a {
  float: right;
  color: #3898EC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.title {
  float: left;
  color: #3898EC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #3898EC;
  color: #F7F7F7FF;
}

.topnav a.active {
  background-color: #3898EC;
  color: #E2ECF7;
}

.menu {
  position: fixed;
  display: inline-block;
  top: 30px;
  right: 0px;
  z-index: 1;
}

.menu .dropdown {
  border: none;
  background-color: #E2ECF7;
  display: none;
}

.dropdownMenu {
  display: none;
  margin-top: -30px;
  margin-left: -48px;
  background-color: #E2ECF7;
  min-width: 3%;
  z-index: 1;
}

.dropdownMenu a {
  color: #3898EC;
  padding: 14px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.dropdownMenu a.selected {
  background-color: #3898EC;
  color: #E2ECF7;
}

.dropdownMenu a:hover {
  background-color: #3898EC;
  color: #E2ECF7;
}

.menu:hover .dropdownMenu {
  display: block;
}

.menu:hover .dropdown {
  background-color: #f7f7f7ff;
}

.menu img {
  width: 60px;
  margin-top: -25px;
  margin-right: 6px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #E2ECF7;
  text-align: center;
}

canvas {
  display: block;
}

label {
  color: #E2ECF7;
}