* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.topnav {
  overflow: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #E2ECF7;
  z-index: 1;
}

.topnav a {
  float: right;
  color: #3898EC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.title {
  float: left;
  color: #3898EC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #3898EC;
  color: #F7F7F7FF;
}

.topnav a.active {
  background-color: #3898EC;
  color: #E2ECF7;
}

.nav-dropdown {
  float: right;
  position: relative;
  display: block;
}

.nav-dropdown .dropbtn {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.nav-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #E2ECF7;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 56px;
}

/* Links inside the dropdown */
.nav-dropdown-content a {
  color: #3898EC;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  float: none;
}

/* Change color on hover */
.nav-dropdown-content a:hover {
  background-color: #3898EC;
  color: #E2ECF7;
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-dropdown:hover .dropbtn {
  background-color: #3898EC;
  color: #E2ECF7;
}

.menu {
  position: fixed;
  display: inline-block;
  top: 30px;
  right: 0px;
  z-index: 1;
}

.menu .dropdown {
  border: none;
  background-color: #E2ECF7;
  display: none;
}

.dropdownMenu {
  display: none;
  margin-top: 1px;
  margin-left: -48px;
  background-color: #E2ECF7;
  min-width: 3%;
  z-index: 1;
}

.dropdownMenu a {
  color: #3898EC;
  padding: 14px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.dropdownMenu a.selected {
  background-color: #3898EC;
  color: #E2ECF7;
}

.dropdownMenu a:hover {
  background-color: #3898EC;
  color: #E2ECF7;
}

.menu:hover .dropdownMenu {
  display: block;
}

.menu:hover .dropdown {
  background-color: #f7f7f7ff;
}

.menu img {
  width: 60px;
  margin-top: -25px;
  margin-right: 6px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #E2ECF7;
  text-align: center;
}

canvas {
  display: block;
}

label {
  color: #E2ECF7;
}

@media screen and (max-width: 666px){
  .topnav a.page {
    display: none;
  }
  
  .nav-dropdown {
    display: none;
  }

  .menu .dropdown {
    display: contents;
  }

  .dropdown:hover img {
    display: inline-block;
  }
}